header {
	padding-bottom: 5px;
	padding-top: 5px;
}
body {
	margin: 0;
	font-family:'Baloo Bhaina', cursive;
	background-color: black;
}
.bagvid {
	padding-top: 40px;
	padding-left: 142px;
}
.logo {
	padding-left: 637px;
}
.theultimate {
	padding-left: 25px;
}
.dreamdesk4 {
	padding-left: 25px;
}
.jetblackairpods {
	padding-left: 25px;
  
}
.desksetup200 {
	padding-left: 25px;
}
.ultimateps4 {
	padding-left: 142px;
	padding-top: 40px;
}
.amdryzen {
	padding-left: 25px;
	width: 196px;
	height: 110px;
}
.ces2017 {
	padding-left: 25px;
}
.bmwces2017 {
	padding-left: 25px;
}
.camfail {
	padding-left: 25px;
}
.beatsx {
	padding-top: 40px;
	padding-left: 142px;
}
.usbc {
	padding-left: 25px;
}
.lg5k {
	padding-left: 25px;
}
.cam {
	padding-left: 25px;
}
.performacemx {
	padding-left: 25px;
}